<section class="techninal-download mt-20 md:mt-8 bg-gray-light">
  <div class="container">
    <div class="bg-secondary rounded-3xl py-14 3xl:py-16 px-5 relative z-10">
      <div class="max-w-2xl mx-auto text-white text-sm 2xl:text-base text-center">
        {% if section.settings.desktop_image != blank %}
          <img
            src="{{ section.settings.desktop_image | img_url: 'large' }}"
            class="mx-auto hidden md:block w-56 3xl:w-96"
            alt="Technical Download Logo Image"
          >
        {% endif %}

        {% if section.settings.mobile_image != blank %}
          <img
            src="{{ section.settings.mobile_image | img_url: 'large' }}"
            class="mx-auto md:hidden w-56"
            alt="Technical Download Logo Image"
          >
        {% endif %}

        {% if section.settings.heading != blank %}
          <h2 class="text-4xl 3xl:text-[51px] font-bold my-7 3xl:mt-12 3xl:mb-20">{{ section.settings.heading }}</h2>
        {% endif %}

        {% if section.settings.paragraph != blank %}
          <div>{{ section.settings.paragraph }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Vuba Technical Downloads",
  "settings": [
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Desktop Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default" : "Technical Downloads"
    },
    {
      "type": "richtext",
      "id": "paragraph",
      "label": "Paragraph",
      "default":"<p>This is a technical downloads paragrapgh.</p>"
    }
  ],
  "presets": [
    {
      "name": "Vuba Technical Downloads",
      "category" : "Custom Section"
    }
  ]
}
{% endschema %}
