<section class="interactive-map bg-secondary pb-14 pt-44 md:py-14 3xl:py-24">
  <div class="installer-form padding-right-zeero pb-14 md:py-14 3xl:py-24">
    <div class="inner-container md:max-w-none flex flex-wrap">
      <div class="col-left rounded-3xl overflow-hidden w-full md:w-[50%] bg-white mb-12 md:mb-0">
        <img class="w-full" src="images/installer-from.jpg" alt="">
      </div>
      <div class="col-right w-full md:w-[50%] text-center">
        <h2 class="text-white font-bold text-2xl xl:text-3xl mb-8 2xl:mb-10 3xl:mb-20">Explore our interactive map</h2>
        <img src="images/interactive-map.png" alt="">
      </div>
    </div>
  </div>
  <div class="dealer-list">
    <div class="inner-container">
      <div class="flex justify-between items-center border-b-2 border-white pb-8 lg:px-10 3xl:px-20">
        <button
          onclick="toggleDealerList()"
          class="btn btn-primary hover:bg-white hover:text-secondary hover:border-white"
        >
          VIEW DEALER LIST
        </button>
        <img src="images/down-arrow.svg" alt="down-arrow">
      </div>
      <div
        id="dealer-list"
        class="md:grid md:grid-cols-2 lg:grid-cols-3 gap-8 3xl:gap-x-44 3xl:gap-y-12 hidden text-white lg:px-10 3xl:px-20 pt-10 3xl:py-16"
      >
        <div class="text-sm 2xl:text-lg">
          <h2 class="font-bold text-4xl md:text-3xl mb-2">Bulgaria</h2>
          <strong class="inline-block mb-2">Exclusive Distributor / Contractor</strong>
          <ul>
            <li>Company name: M Diva Green Ltd</li>
            <li>Contact name: Elina Hadzhieva</li>
            <li>Contact number: <a class="hover:text-primary" href="tel:359878709988">+359878709988</a></li>
            <li>Website: <a class="hover:text-primary" href="#">Mdivagreen.com</a></li>
            <li>
              Email: <a class="hover:text-primary" href="mailto:m.diva.green@gmail.com">m.diva.green@gmail.com</a>
            </li>
            <li>Instagram: <a class="hover:text-primary" href="#">m.diva.green</a></li>
          </ul>
        </div>
        <div class="text-sm 2xl:text-lg">
          <h2 class="font-bold text-4xl md:text-3xl mb-2">Romania</h2>
          <strong class="inline-block mb-2">Exclusive Distributor / Contractor</strong>
          <ul>
            <li>Company name: M Diva Green Ltd</li>
            <li>Contact name: Elina Hadzhieva</li>
            <li>Contact number: <a class="hover:text-primary" href="tel:359878709988">+359878709988</a></li>
            <li>Website: <a class="hover:text-primary" href="#">Mdivagreen.com</a></li>
            <li>
              Email: <a class="hover:text-primary" href="mailto:m.diva.green@gmail.com">m.diva.green@gmail.com</a>
            </li>
            <li>Instagram: <a class="hover:text-primary" href="#">m.diva.green</a></li>
          </ul>
        </div>
        <div class="text-sm 2xl:text-lg">
          <h2 class="font-bold text-4xl md:text-3xl mb-2">Kosovo</h2>
          <strong class="inline-block mb-2">Exclusive Distributor / Contractor</strong>
          <ul>
            <li>Company name: M Diva Green Ltd</li>
            <li>Contact name: Elina Hadzhieva</li>
            <li>Contact number: <a class="hover:text-primary" href="tel:359878709988">+359878709988</a></li>
            <li>Website: <a class="hover:text-primary" href="#">Mdivagreen.com</a></li>
            <li>
              Email: <a class="hover:text-primary" href="mailto:m.diva.green@gmail.com">m.diva.green@gmail.com</a>
            </li>
            <li>Instagram: <a class="hover:text-primary" href="#">m.diva.green</a></li>
          </ul>
        </div>
        <div class="text-sm 2xl:text-lg">
          <h2 class="font-bold text-4xl md:text-3xl mb-2">Ukraine</h2>
          <strong class="inline-block mb-2">Exclusive Distributor / Contractor</strong>
          <ul>
            <li>Company name: M Diva Green Ltd</li>
            <li>Contact name: Elina Hadzhieva</li>
            <li>Contact number: <a class="hover:text-primary" href="tel:359878709988">+359878709988</a></li>
            <li>Website: <a class="hover:text-primary" href="#">Mdivagreen.com</a></li>
            <li>
              Email: <a class="hover:text-primary" href="mailto:m.diva.green@gmail.com">m.diva.green@gmail.com</a>
            </li>
            <li>Instagram: <a class="hover:text-primary" href="#">m.diva.green</a></li>
          </ul>
        </div>
        <div class="text-sm 2xl:text-lg">
          <h2 class="font-bold text-4xl md:text-3xl mb-2">Norway</h2>
          <strong class="inline-block mb-2">Exclusive Distributor / Contractor</strong>
          <ul>
            <li>Company name: M Diva Green Ltd</li>
            <li>Contact name: Elina Hadzhieva</li>
            <li>Contact number: <a class="hover:text-primary" href="tel:359878709988">+359878709988</a></li>
            <li>Website: <a class="hover:text-primary" href="#">Mdivagreen.com</a></li>
            <li>
              Email: <a class="hover:text-primary" href="mailto:m.diva.green@gmail.com">m.diva.green@gmail.com</a>
            </li>
            <li>Instagram: <a class="hover:text-primary" href="#">m.diva.green</a></li>
          </ul>
        </div>
        <div class="text-sm 2xl:text-lg">
          <h2 class="font-bold text-4xl md:text-3xl mb-2">Slovenia</h2>
          <strong class="inline-block mb-2">Exclusive Distributor / Contractor</strong>
          <ul>
            <li>Company name: M Diva Green Ltd</li>
            <li>Contact name: Elina Hadzhieva</li>
            <li>Contact number: <a class="hover:text-primary" href="tel:359878709988">+359878709988</a></li>
            <li>Website: <a class="hover:text-primary" href="#">Mdivagreen.com</a></li>
            <li>
              Email: <a class="hover:text-primary" href="mailto:m.diva.green@gmail.com">m.diva.green@gmail.com</a>
            </li>
            <li>Instagram: <a class="hover:text-primary" href="#">m.diva.green</a></li>
          </ul>
        </div>
        <div class="text-sm 2xl:text-lg">
          <h2 class="font-bold text-4xl md:text-3xl mb-2">Hungary</h2>
          <strong class="inline-block mb-2">Exclusive Distributor / Contractor</strong>
          <ul>
            <li>Company name: M Diva Green Ltd</li>
            <li>Contact name: Elina Hadzhieva</li>
            <li>Contact number: <a class="hover:text-primary" href="tel:359878709988">+359878709988</a></li>
            <li>Website: <a class="hover:text-primary" href="#">Mdivagreen.com</a></li>
            <li>
              Email: <a class="hover:text-primary" href="mailto:m.diva.green@gmail.com">m.diva.green@gmail.com</a>
            </li>
            <li>Instagram: <a class="hover:text-primary" href="#">m.diva.green</a></li>
          </ul>
        </div>
        <div class="text-sm 2xl:text-lg">
          <h2 class="font-bold text-4xl md:text-3xl mb-2">Ireland</h2>
          <strong class="inline-block mb-2">Exclusive Distributor / Contractor</strong>
          <ul>
            <li>Company name: M Diva Green Ltd</li>
            <li>Contact name: Elina Hadzhieva</li>
            <li>Contact number: <a class="hover:text-primary" href="tel:359878709988">+359878709988</a></li>
            <li>Website: <a class="hover:text-primary" href="#">Mdivagreen.com</a></li>
            <li>
              Email: <a class="hover:text-primary" href="mailto:m.diva.green@gmail.com">m.diva.green@gmail.com</a>
            </li>
            <li>Instagram: <a class="hover:text-primary" href="#">m.diva.green</a></li>
          </ul>
        </div>
        <div class="text-sm 2xl:text-lg">
          <h2 class="font-bold text-4xl md:text-3xl mb-2">UK</h2>
          <strong class="inline-block mb-2">Exclusive Distributor / Contractor</strong>
          <ul>
            <li>Company name: M Diva Green Ltd</li>
            <li>Contact name: Elina Hadzhieva</li>
            <li>Contact number: <a class="hover:text-primary" href="tel:359878709988">+359878709988</a></li>
            <li>Website: <a class="hover:text-primary" href="#">Mdivagreen.com</a></li>
            <li>
              Email: <a class="hover:text-primary" href="mailto:m.diva.green@gmail.com">m.diva.green@gmail.com</a>
            </li>
            <li>Instagram: <a class="hover:text-primary" href="#">m.diva.green</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
