<style>
  #map {
      height: 600px;
      width: 100%;
  }
</style>
<section class="interactive-map bg-secondary pb-14 pt-44 md:py-14 3xl:py-24">
  <div class="installer-form padding-right-zeero pb-14 md:py-14 3xl:py-24">
    <div class="inner-container md:max-w-none flex flex-wrap">
      <div class="col-left rounded-3xl overflow-hidden w-full md:w-[50%] bg-white px-5 xl:px-7 py-10 3xl:py-16 2xl:px-12 3xl:px-16">
        <h3 class="text-xl font-bold mb-4">Find by Zip Code</h3>
        <input type="text" id="zipcode" placeholder="Enter Zip Code" class="w-full mb-4 p-3 border rounded">
        <button id="search-btn" class="w-full bg-primary text-white font-bold py-3 rounded">Search</button>
      </div>
      <div class="col-right w-full md:w-[50%] text-center">
        {% if section.settings.heading != blank %}
          <h2 class="text-white font-bold text-2xl xl:text-3xl mb-8 2xl:mb-10 3xl:mb-20">
            {{ section.settings.heading }}
          </h2>
        {% endif %}

        <!-- Map Container -->
        <div id="map" class="mx-auto"></div>
      </div>
    </div>
  </div>
</section>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css">
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
<script>
  // Initialize the map
   var map = L.map('map').setView([20, -75], 1.8);

  // Add a tile layer to the map
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
</script>

{% schema %}
{
  "name": "Vuba Map",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Explore our interactive map"
    }
  ],
  "presets": [
    {
      "name": "Vuba Map",
      "category": "Text",
    }
  ]
}
{% endschema %}
