<section class="distributor-extract mt-5 py-14 3xl:py-32 bg-black">
  <div class="container mx-auto px-6">
    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 text-start gap-10 text-white">
      {% for block in section.blocks %}
        <div class="flex justify-center">
          <div class="flex flex-col items-center">
            {% if block.settings.icon != blank %}
              <img src="{{ block.settings.icon | img_url: '100x' }}" alt="Icon" class="h-10 mb-5 ml-0 mr-auto">
            {% endif %}
            {% if block.settings.text != blank %}
              <p class="font-bold text-sm 2xl:text-lg 3xl:text-[27px]">
                {{ block.settings.text }}
              </p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
    "name": "Vuba Distributor Extract",
    "settings": [],
    "blocks": [
        {
            "type": "distributor",
            "name": "Distributor Item",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "icon",
                    "label": "Icon"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>We extract the finest stone sustainably.</p>"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Vuba Distributor Extract",
            "category": "Custom Sections",
            "blocks": [
                {
                    "type": "distributor"
                },
                {
                    "type": "distributor"
                },
                {
                    "type": "distributor"
                },
                {
                    "type": "distributor"
                },
                {
                    "type": "distributor"
                }
            ]
        }
    ]
}
{% endschema %}
