<section class="hero-slide-section pt-40 3xl:pt-52 mb-[60px] 3xl:mb-[145px]">
  <div class="inner-container">
    <h2 class="text-center text-secondary text-[24px] 3xl:text-[44px] font-medium mb-[40px] 3xl:mb-[60px] font-poppins">
      {% if section.settings.title != blank %}
        {{ section.settings.title }}
      {% endif %}
    </h2>
  </div>
  <div id="magic-slider" class="owl-carousel owl-theme">
    {% for block in section.blocks %}
      <div class="item" {{ block.shopify_attributes }}>
        <figure class="rounded-[20px] overflow-hidden">
          <img
            src="{{ block.settings.image | img_url: 'master' }}"
            alt="{{ block.settings.alt_text }}"
            class="object-cover w-full h-full aspect-[2/1.1]"
          >
        </figure>
      </div>
    {% endfor %}
  </div>
</section>
{% schema %}
{
  "name": "Vuba Hero Slider",
  "settings": [
    {
    "type": "text",
    "id": "title",
    "label": "Title",
    "default": "Experience the magic of Vusion technology!"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Slide Image"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "Alt Text",
         "default": "Vuba Magic Experience"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Vuba Hero Slider",
      "category": "Hero",
        "blocks": [
        {
          "type": "slide",
          "settings": {
            "image": "shopify://shop_images/placeholder-image.jpg",
            "alt_text": "Default Vuba Magic Slide"
          }
        }
      ]
    }
  ]
}
{% endschema %}
