<section class="filter-inspire-imagination">
  <div class="container">
    <div class="py-16 3xl:py-24 w-full text-center ">
      <h2 class="text-2xl 3xl:text-[44px] text-secondary font-semibold inline-block leading-[1.2]">
        {{ section.settings.heading }}
      </h2>
    </div>
    <div class="flex flex-col md:flex-row gap-10 pb-14 3xl:pb-24">
      <aside class="w-full md:w-1/4 gap-y-10 flex flex-wrap flex-col">
        <div class="col">
          <h3 class="text-2xl 3xl:text-4xl font-semibold border-b-2 border-[#707070] pb-5 mb-7">Filter by colour</h3>
          <div class="flex flex-wrap gap-2 items-end">
            <button class="px-4 py-2 text-primary hover:text-white hover:bg-primary border-[3px] border-primary rounded-full uppercase font-bold text-xs tracking-widest">
              Red and Purple
            </button>
            <button class="px-4 py-2 text-primary hover:text-white hover:bg-primary border-[3px] border-primary rounded-full uppercase font-bold text-xs tracking-widest">
              Yellow and Warm
            </button>
            <button class="px-4 py-2 text-primary hover:text-white hover:bg-primary border-[3px] border-primary rounded-full uppercase font-bold text-xs tracking-widest">
              Light and Neutral
            </button>
            <button class="px-4 py-2 text-primary hover:text-white hover:bg-primary border-[3px] border-primary rounded-full uppercase font-bold text-xs tracking-widest">
              Red and Purple
            </button>
          </div>
          <div class="btn-wrap mt-10 md:hidden">
            <button class="btn btn-secondary">More Filters</button>
          </div>
        </div>
        <div class="col">
          <h3 class="text-2xl 3xl:text-4xl font-semibold border-b-2 border-[#707070] pb-5 mb-7">Filter by colour</h3>
          <div class="flex flex-wrap gap-2 items-end">
            <button class="px-4 py-2 text-primary hover:text-white hover:bg-primary border-[3px] border-primary rounded-full uppercase font-bold text-xs tracking-widest">
              Red and Purple
            </button>
            <button class="px-4 py-2 text-primary hover:text-white hover:bg-primary border-[3px] border-primary rounded-full uppercase font-bold text-xs tracking-widest">
              Yellow and Warm
            </button>
            <button class="px-4 py-2 text-primary hover:text-white hover:bg-primary border-[3px] border-primary rounded-full uppercase font-bold text-xs tracking-widest">
              Light and Neutral
            </button>
            <button class="px-4 py-2 text-primary hover:text-white hover:bg-primary border-[3px] border-primary rounded-full uppercase font-bold text-xs tracking-widest">
              Red and Purple
            </button>
          </div>
          <div class="btn-wrap mt-10 md:hidden">
            <button class="btn btn-secondary">More Filters</button>
          </div>
        </div>

        <div class="col">
          <h3 class="text-2xl 3xl:text-4xl font-semibold border-b-2 border-[#707070] pb-5 mb-7">Filter by job</h3>
          <div class="flex flex-wrap gap-2 items-end">
            <button class="px-4 py-2 text-primary hover:text-white hover:bg-primary border-[3px] border-primary rounded-full uppercase font-bold text-xs tracking-widest">
              Red and Purple
            </button>
            <button class="px-4 py-2 text-primary hover:text-white hover:bg-primary border-[3px] border-primary rounded-full uppercase font-bold text-xs tracking-widest">
              Yellow and Warm
            </button>
            <button class="px-4 py-2 text-primary hover:text-white hover:bg-primary border-[3px] border-primary rounded-full uppercase font-bold text-xs tracking-widest">
              Light and Neutral
            </button>
            <button class="px-4 py-2 text-primary hover:text-white hover:bg-primary border-[3px] border-primary rounded-full uppercase font-bold text-xs tracking-widest">
              Red and Purple
            </button>
          </div>
        </div>

        <div class="col">
          <h3 class="text-2xl 3xl:text-4xl font-semibold border-b-2 border-[#707070] pb-5 mb-7">Job Type</h3>
          <div class="flex flex-wrap gap-2 items-end">
            <button class="px-4 py-2 text-primary hover:text-white hover:bg-primary border-[3px] border-primary rounded-full uppercase font-bold text-xs tracking-widest">
              Residential
            </button>
            <button class="px-4 py-2 text-primary hover:text-white hover:bg-primary border-[3px] border-primary rounded-full uppercase font-bold text-xs tracking-widest">
              Commercial
            </button>
          </div>
        </div>
      </aside>

      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-5 w-full md:w-[75%]">
        <div class="bg-white rounded-2xl overflow-hidden relative">
          <img src="images/inspire-1.jpg" class="w-full aspect-square object-cover h-full" alt="Project 1">
          <div class="absolute top-0 left-0 w-full h-full p-4 flex flex-wrap items-end justify-end">
            <div class="btn-wrap flex flex-wrap gap-2 justify-end">
              <a
                class="px-3 py-1 hover:text-white bg-white hover:bg-primary border-[3px] border-white hover:border-primary rounded-full uppercase font-bold text-[11px] tracking-widest inline-block"
                href="#"
                >Swimming pool</a
              >
              <a
                class="px-3 py-1 hover:text-white bg-white hover:bg-primary border-[3px] border-white hover:border-primary rounded-full uppercase font-bold text-[11px] tracking-widest inline-block"
                href="#"
                >Yosemite</a
              >
            </div>
          </div>
        </div>
        <div class="bg-white rounded-2xl overflow-hidden relative">
          <img src="images/inspire-1.jpg" class="w-full aspect-square object-cover h-full" alt="Project 1">
          <div class="absolute top-0 left-0 w-full h-full p-4 flex flex-wrap items-end justify-end">
            <div class="btn-wrap flex flex-wrap gap-2 justify-end">
              <a
                class="px-3 py-1 hover:text-white bg-white hover:bg-primary border-[3px] border-white hover:border-primary rounded-full uppercase font-bold text-[11px] tracking-widest inline-block"
                href="#"
                >Swimming pool</a
              >
              <a
                class="px-3 py-1 hover:text-white bg-white hover:bg-primary border-[3px] border-white hover:border-primary rounded-full uppercase font-bold text-[11px] tracking-widest inline-block"
                href="#"
                >Yosemite</a
              >
            </div>
          </div>
        </div>
        <div class="bg-white rounded-2xl overflow-hidden relative">
          <img src="images/inspire-1.jpg" class="w-full aspect-square object-cover h-full" alt="Project 1">
          <div class="absolute top-0 left-0 w-full h-full p-4 flex flex-wrap items-end justify-end">
            <div class="btn-wrap flex flex-wrap gap-2 justify-end">
              <a
                class="px-3 py-1 hover:text-white bg-white hover:bg-primary border-[3px] border-white hover:border-primary rounded-full uppercase font-bold text-[11px] tracking-widest inline-block"
                href="#"
                >Swimming pool</a
              >
              <a
                class="px-3 py-1 hover:text-white bg-white hover:bg-primary border-[3px] border-white hover:border-primary rounded-full uppercase font-bold text-[11px] tracking-widest inline-block"
                href="#"
                >Yosemite</a
              >
            </div>
          </div>
        </div>
        <div class="bg-white rounded-2xl overflow-hidden relative">
          <img src="images/inspire-1.jpg" class="w-full aspect-square object-cover h-full" alt="Project 1">
          <div class="absolute top-0 left-0 w-full h-full p-4 flex flex-wrap items-end justify-end">
            <div class="btn-wrap flex flex-wrap gap-2 justify-end">
              <a
                class="px-3 py-1 hover:text-white bg-white hover:bg-primary border-[3px] border-white hover:border-primary rounded-full uppercase font-bold text-[11px] tracking-widest inline-block"
                href="#"
                >Swimming pool</a
              >
              <a
                class="px-3 py-1 hover:text-white bg-white hover:bg-primary border-[3px] border-white hover:border-primary rounded-full uppercase font-bold text-[11px] tracking-widest inline-block"
                href="#"
                >Yosemite</a
              >
            </div>
          </div>
        </div>
        <div class="bg-white rounded-2xl overflow-hidden relative">
          <img src="images/inspire-1.jpg" class="w-full aspect-square object-cover h-full" alt="Project 1">
          <div class="absolute top-0 left-0 w-full h-full p-4 flex flex-wrap items-end justify-end">
            <div class="btn-wrap flex flex-wrap gap-2 justify-end">
              <a
                class="px-3 py-1 hover:text-white bg-white hover:bg-primary border-[3px] border-white hover:border-primary rounded-full uppercase font-bold text-[11px] tracking-widest inline-block"
                href="#"
                >Swimming pool</a
              >
              <a
                class="px-3 py-1 hover:text-white bg-white hover:bg-primary border-[3px] border-white hover:border-primary rounded-full uppercase font-bold text-[11px] tracking-widest inline-block"
                href="#"
                >Yosemite</a
              >
            </div>
          </div>
        </div>
        <div class="bg-white rounded-2xl overflow-hidden relative">
          <img src="images/inspire-1.jpg" class="w-full aspect-square object-cover h-full" alt="Project 1">
          <div class="absolute top-0 left-0 w-full h-full p-4 flex flex-wrap items-end justify-end">
            <div class="btn-wrap flex flex-wrap gap-2 justify-end">
              <a
                class="px-3 py-1 hover:text-white bg-white hover:bg-primary border-[3px] border-white hover:border-primary rounded-full uppercase font-bold text-[11px] tracking-widest inline-block"
                href="#"
                >Swimming pool</a
              >
              <a
                class="px-3 py-1 hover:text-white bg-white hover:bg-primary border-[3px] border-white hover:border-primary rounded-full uppercase font-bold text-[11px] tracking-widest inline-block"
                href="#"
                >Yosemite</a
              >
            </div>
          </div>
        </div>
        <div class="bg-white rounded-2xl overflow-hidden relative">
          <img src="images/inspire-1.jpg" class="w-full aspect-square object-cover h-full" alt="Project 1">
          <div class="absolute top-0 left-0 w-full h-full p-4 flex flex-wrap items-end justify-end">
            <div class="btn-wrap flex flex-wrap gap-2 justify-end">
              <a
                class="px-3 py-1 hover:text-white bg-white hover:bg-primary border-[3px] border-white hover:border-primary rounded-full uppercase font-bold text-[11px] tracking-widest inline-block"
                href="#"
                >Swimming pool</a
              >
              <a
                class="px-3 py-1 hover:text-white bg-white hover:bg-primary border-[3px] border-white hover:border-primary rounded-full uppercase font-bold text-[11px] tracking-widest inline-block"
                href="#"
                >Yosemite</a
              >
            </div>
          </div>
        </div>
        <div class="bg-white rounded-2xl overflow-hidden relative">
          <img src="images/inspire-1.jpg" class="w-full aspect-square object-cover h-full" alt="Project 1">
          <div class="absolute top-0 left-0 w-full h-full p-4 flex flex-wrap items-end justify-end">
            <div class="btn-wrap flex flex-wrap gap-2 justify-end">
              <a
                class="px-3 py-1 hover:text-white bg-white hover:bg-primary border-[3px] border-white hover:border-primary rounded-full uppercase font-bold text-[11px] tracking-widest inline-block"
                href="#"
                >Swimming pool</a
              >
              <a
                class="px-3 py-1 hover:text-white bg-white hover:bg-primary border-[3px] border-white hover:border-primary rounded-full uppercase font-bold text-[11px] tracking-widest inline-block"
                href="#"
                >Yosemite</a
              >
            </div>
          </div>
        </div>
        <div class="bg-white rounded-2xl overflow-hidden relative">
          <img src="images/inspire-1.jpg" class="w-full aspect-square object-cover h-full" alt="Project 1">
          <div class="absolute top-0 left-0 w-full h-full p-4 flex flex-wrap items-end justify-end">
            <div class="btn-wrap flex flex-wrap gap-2 justify-end">
              <a
                class="px-3 py-1 hover:text-white bg-white hover:bg-primary border-[3px] border-white hover:border-primary rounded-full uppercase font-bold text-[11px] tracking-widest inline-block"
                href="#"
                >Swimming pool</a
              >
              <a
                class="px-3 py-1 hover:text-white bg-white hover:bg-primary border-[3px] border-white hover:border-primary rounded-full uppercase font-bold text-[11px] tracking-widest inline-block"
                href="#"
                >Yosemite</a
              >
            </div>
          </div>
        </div>
        <div class="btn-wrap mt-5 md:hidden text-center">
          <button class="btn btn-primary">View More</button>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
  "name": "Vuba Category",
  "settings": [
     {
       "type": "text",
       "id": "heading",
       "label": "Heading",
       "default":"Heading"
     }
  ],
  "presets": [
    {
      "name": "Vuba Category"
    }
  ]
}
{% endschema %}
