<section class="vuba-mac pt-20 md:pt-14 3xl:pt-36 bg-primary text-center">
  <div class="container">
    <div class="text-white xl:max-w-3xl 3xl:max-w-6xl mx-auto text-sm md:text-base 3xl:text-2xl mb-5">
      {% if section.settings.title != blank %}
        <h2 class="text-8xl 3xl:text-[164px] font-bold pb-9">
          {{ section.settings.title }}
        </h2>
      {% endif %}
      {% if section.settings.description != blank %}
        {{ section.settings.description }}
      {% endif %}
    </div>
    <div class="text-center pt-9 md:pt-20">
      {% if section.settings.desktop_image != blank %}
        <img
          class="hidden md:block mx-auto"
          src="{{ section.settings.desktop_image | img_url:'master' }}"
          alt="VubaMacAggregate"
        >
      {% endif %}
      {% if section.settings.mobile_image != blank %}
        <img
          class="md:hidden mx-auto"
          src="{{ section.settings.mobile_image | img_url:'master' }}"
          alt="placeholder product"
        >
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Vuba Mac Section One",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Vuba Mac"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>We would like a section dedicated to VubaMac and how it is the first permeable base specifically designed for Resin Bound surfacing.</p>"
    },
    {
      "type": "image_picker",
      "id": "desktop_image",
      "label": "Desktop Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile Image"
    }
  ],
  "presets": [
    {
      "name": "Vuba Mac Section One",
      "category": "Custom Sections"
    }
  ]
}
{% endschema %}
