<section
  class="py-14 2xl:py-20 3xl:py-40 relative w-full bg-center bg-fixed bg-cover before:content-[''] before:w-full before:h-full before:top-0 before:left-0 before:absolute before:bg-black before:opacity-50"
  {% if section.settings.background_image != blank %}
    style="background-image: url({{ section.settings.background_image | image_url }});"
  {% endif %}
>
  <div class="inner-container relative z-10">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-[40px] xl:gap-[80px]">
      {% for block in section.blocks %}
        <div
          class="px-[20px] md:px-[30px] xl:px-[50px] py-[60px] md:py-[30px] xl:py-[45px] 3xl:px-[70px] 3xl:py-[55px] rounded-[20px]"
          {{ block.shopify_attributes }}
        >
          {% if block.settings.custom_form != blank %}
            <div class="bg-primary text-white mb-auto common-form-box">
              {% if block.settings.title != blank %}
                <div class="common-form-heading-wrap">
                  <h2 class="common-form-title mb-0">{{ block.settings.title }}</h2>
                </div>
              {% endif %}
              {{ block.settings.custom_form }}
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Vuba Technology Forms",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    }
  ],
  "blocks": [
    {
      "type": "image_block",
      "name": "Image Block",
      "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Form Heading"
          },
          {
            "type": "liquid",
            "id": "custom_form",
            "label": "Custom Form Code",
          }
      ]
    }
  ],
  "presets": [
    {
      "name": "Vuba Technology Forms",
      "category": "Custom Sections",
      "blocks": [
        {
          "type": "image_block"
        },
        {
          "type": "image_block"
        }
      ]
    }
  ]
}
{% endschema %}
