<section class="testimonial py-14 3xl:py-28">
  <div class="container">
    <div class="max-w-5xl mx-auto text-center text-primary text-xl 2xl:text-2xl 3xl:text-[44px] leading-[1.5]">
      <div class="discription font-bold mb-7 3xl:mb-10 leading-[1.5]">
        {% if section.settings.testimonial_text != blank %}
          <p class="inline-block">
            {{ section.settings.testimonial_text }}
            <em class="font-normal inline-block">{{ section.settings.testimonial_subtext }}</em>
          </p>
        {% endif %}
      </div>
      <div class="flex justify-center text-center">
        {% if section.settings.testimonial_name != blank %}
          <strong class="inline-block">{{ section.settings.testimonial_name }}</strong>
        {% endif %}
        {% if section.settings.testimonial_date != blank %}
          <span class="font-normal inline-block">{{ section.settings.testimonial_date }}</span>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Vuba Testimonial Text",
  "settings": [
    {
      "type": "textarea",
      "label": "Testimonial Text",
      "id": "testimonial_text",
      "default": "“We would like a testimonial from Ogburn Construction” (An installer that has completed 1-1 training) for new installers to view."
    },
    {
      "type": "text",
      "label": "Testimonial Subtext",
      "id": "testimonial_subtext",
      "default": "for new installers"
    },
    {
      "type": "text",
      "label": "Person's Name",
      "id": "testimonial_name",
      "default": "Person's name"
    },
    {
      "type": "text",
      "label": "Date",
      "id": "testimonial_date",
      "default": "date here"
    }
  ],
  "presets": [
    {
      "name": "Vuba Testimonial Text",
      "category": "Custom Section"
    }
  ]
}
{% endschema %}
