@font-face {
  font-family: "Schibsted Grotesk";
  src: url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Regular.eot");
  src: url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Regular.woff2")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Regular.woff")
      format("woff"),
    url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Schibsted Grotesk";
  src: url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Medium.eot");
  src: url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Medium.woff2")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Medium.woff")
      format("woff"),
    url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Medium.ttf")
      format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Schibsted Grotesk";
  src: url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-SemiBold.eot");
  src: url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-SemiBold.woff2")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-SemiBold.woff")
      format("woff"),
    url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-SemiBold.ttf")
      format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Schibsted Grotesk";
  src: url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Black.eot");
  src: url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Black.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Black.woff2")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Black.woff")
      format("woff"),
    url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Black.ttf")
      format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Schibsted Grotesk";
  src: url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-ExtraBold.eot");
  src: url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-ExtraBold.woff2")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-ExtraBold.woff")
      format("woff"),
    url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-ExtraBold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Schibsted Grotesk";
  src: url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Bold.eot");
  src: url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Bold.woff2")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Bold.woff")
      format("woff"),
    url("https://cdn.shopify.com/s/files/1/0628/7520/5734/files/SchibstedGrotesk-Bold.ttf")
      format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
